#################################
# Java
#################################
*.class
*.jar
*.war
*.ear
hs_err_pid*

#################################
# Build output
#################################
/build/
/dist/
/out/
/target/

#################################
# NetBeans
#################################
/nbproject/private/
/nbbuild/
/nbdist/
/.nb-gradle/

#################################
# IDE
#################################
.idea/
.vscode/
*.iml

#################################
# OS
#################################
.DS_Store
Thumbs.db

#################################
# Logs
#################################
*.log

#################################
# Environment
#################################
.env

#################################
# Database backup (KHÔNG push DB)
#################################
*.bak
*.mdf
*.ldf

#################################
# Temp files
#################################
*.tmp
*.temp
*.swp
*~
